<form action="/add/group?pass=smartlink" method="POST">

  <input type="hidden" name="id" value="{{group.id}}">

  <div style="margin: 10px;">
    <label for="code">Code</label>
    <input name="code" id="code" value="{{group.code}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="order">Order</label>
    <input name="order" id="order" value="{{group.order}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{group.name}}" /></br>
  </div>

  <input class="button is-primary" type="submit" value="Guardar" />
</form>
