<form action="/add/group?pass=smartlink" method="POST" style="display:block;max-width:1000px;margin:auto;position:relative;">

  <input type="hidden" name="id" value="{{group.id}}">

  <table>
    <tr>
      <td><label for="code">Code</label></td>
      <td><input name="code" id="code" value="{{group.code}}" /></td>
    </tr>
    <tr>
      <td><label for="order">Order</label></td>
      <td><input name="order" id="order" value="{{group.order}}" /></td>
    </tr>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input name="name" id="name" value="{{group.name}}" /></td>
    </tr>
  </table>

  <input class="button is-primary" type="submit" value="Save" />
</form>
