<form action="/add/group?pass=smartlink" method="POST">

  <label for="code">Codi</label>
  <input name="code" id="code" value="{{group.code}}" />

  <label for="name">Nom</label>
  <input name="name" id="name" value="{{group.name}}" />

  <input type="submit" value="Guardar" />
</form>
