<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Workpacks manager</title>
</head>
<body>
  <form action="/list/work" method="get">
    <label for="pass">Contrasenya</label>
    <input id="pass" name="pass" type="password" />
    <input type="submit" label="Entrar" />
  </form>
</body>
</html>